<script src="/lib/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
<script src="/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
<script src="customers.js" type="text/javascript"></script>
<script type="text/javascript">
	var manager, g;
    function itemclick(item)
    {
        if(item.text=="增加")
           window.location.href="/customers/add"
		else{
			$.ligerDialog.confirm('确认删除吗？', function (yes)
                     {
                         if(yes){
							var rows = manager.getSelectedRows();
							var ids = "";
							for each(var item in rows)
								ids+=item.CustomerID+",";
								if(ids!="")
								window.location.href="customers/destroy/"+ids;
								else
								  $.ligerDialog.alert("为选择任何选项!");
						 }
                     });
			}
    }


    $(function ()
    {
        g =  manager =$("#maingrid").ligerGrid({
            columns: [
                {display: 'Id', name: 'CustomerID', align: 'center', width: 40 } ,
                { display: '客户名', name: 'Name', minWidth: 140 },
                { display: '序列号', name: 'Sn', minWidth: 140 },
                { display: '机型', name: 'Model', minWidth: 140 },

                { display: '性别', name: 'Sex', width: 50, align: 'center',
					render: function (row)
                    {
                        var html = "";
						if(row.Sex==0)
							html = "男";
						else
							html = "女";
                        return html;
                    }
				},
                { display: '电话', name: 'Telephone', minWidth: 140 },
                { display: 'Email', name: 'Email',minWidth: 180 },
                { display: '地址', name: 'Province',minWidth: 200 },
				{
                    display: '操作', isAllowHide: false,   minWidth: 320 ,
                    render: function (row)
                    {
                        var html = '<a href="/customers/'+row.CustomerID+'/diseases">产品</a>|<a href="/customers/'+row.CustomerID+'/diseases">疾病</a>|<a href="/customers/'+row.CustomerID+'/serivices">维修记录</a>|<a href="/customers/'+row.CustomerID+'/maintenances">保养记录</a>|<a href="/customers/'+row.CustomerID+'/complaints">投诉</a>|<a href="/customers/'+row.CustomerID+'/suggests">建议</a>|<a href="customers/edit/'+row.CustomerID+'">编辑</a>';
                        return html;
                    }
                }
            ], data: CustomersData, pageSize: 20, sortName: 'CustomerID',
            width: '100%', height: '100%' ,rownumbers:false,   checkbox:true,
            toolbar: { items: [
                { text: '增加', click: itemclick, icon: 'add' },
                { line: true },
                { text: '删除', click: itemclick, img: '../../../lib/ligerUI/skins/icons/delete.gif' }
            ]
            }
        });
        $("#pageloading").hide();
    });
    function deleteRow()
    {
        g.deleteSelectedRow();
    }

	function f_search()
        {
            manager.options.data = $.extend(true, {}, CustomersData);
            manager.loadData(f_getWhere());
        }
        function f_getWhere()
        {
            if (!manager) return null;
            var clause = function (rowdata, rowindex)
            {
                var key = $("#txtKey").val();
                return rowdata.Name.indexOf(key) > -1 || rowdata.Sn.indexOf(key) > -1;
            };
            return clause;
        }

</script>
<div class="l-loading" style="display:block" id="pageloading"></div>
<a class="l-button" style="width:120px;float:left; margin-left:10px; display:none;" onclick="deleteRow()">删除选择的行</a>

<div id="searchbar">
    <input id="txtKey" type="text" />
    <input id="btnOK" type="button" value="search" onclick="f_search()" />
</div>
<div class="l-clear"></div>

<div id="maingrid"></div>

<div style="display:none;">

</div>
</div>