<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Sign In &bull; HealCrm</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="Onehub is a web application that provides everything you need to easily and securely share business information and files with partners, customers, coworkers, and suppliers." />
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  <link rel="apple-touch-icon" type="image/ico" href="/apple-touch-icon.png" />
<link href="/stylesheets/logins.css" media="screen" rel="stylesheet" type="text/css" />
  <!--[if lte IE 7]><link href="https://macchiato-assets2.onehub.com/packages/iehacks.css?1351288969" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if lte IE 6]><link href="https://macchiato-assets1.onehub.com/packages/ie6hacks.css?1351288966" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<body class="login sign_in application">
  <div class="fold"><div></div>
<div id="flash_messages">
  </div>
</div>
  <div id="wrapper">
    <div class="frame">
      <div id="logo">
        <img alt="Onehub"  src="/images/logo.gif" />
      </div>
      <div class="content">
  <h1>登陆</h1>
<%=yield %>
      </div>
      <div id="footer">
      </div>
    </div>
  </div>
  
  
   </body>
</html>
